<section class="celebSectionDetails">
    <h2>{{celebDetails.name}}</h2>

    <p>
        <strong>Occupation:</strong>
        {{celebDetails.occupation}}
        <strong>Catch Phrase:</strong>
        {{celebDetails.catchPhrase}}
    </p>

</section>